.light {
  --background-color: white;
  --text-color: black;
}

.dark {
  --background-color: black;
  --text-color: white;
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}
